html {
    background-color:#abdbce;
}

body {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    margin-top:0;
    margin-bottom:0;
    background-color:#050035;
    color: #dddddd;
    font-family: Helvetica;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width:60%;
    background-image:url("/static/background_stars.gif");
}

.section{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-family: Impact;
    color: red;
    font-size: 40px;
}

.text-blue{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-family: Impact;
    color: blue;
    font-size: 40px;
}

.square {
    height: 300px;
    width: 300px;
}

h2:hover {
    color: blue;
    font-style: italic;
}
