html {
   background: rgb(196,196,196);
   background: linear-gradient(90deg, rgba(196,196,196,1) 0%, rgba(9,25,89,1) 0%, rgba(134,134,134,1) 100%);
}

body {
    cursor:url(cursor.cur),auto;
    text-align: center;
    margin: 0 auto;
    background-color:#050035;
    color: #dddddd;
    font-family: 'Roboto', sans-serif;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    width:60%;
    background-image:url("/static/background_stars.gif");
    font-size: 150%;
    
}


.section{
    text-align: center;
    margin: auto;
    font-family: Impact;
    color: red;
    font-size: 40px;
}

.section img {
    max-width: 100%;
}

.text-blue{
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    font-family: Impact;
    color: blue;
    font-size: 40px;
}

.square {
    height: 300px;
    width: 300px;
    margin-left:auto; /*change*/
    margin-right:auto; /*change*/
    border: 20px solid #07076e; /*change*/
}

h2:hover {
    color: blue;
    font-style: italic;
}

.shadow {
    text-align: center;
	text-shadow:1px 1px #a742f5;
	padding: 10px 10px 10px 10px;
	background-color: #878787;
}

#box {
  border-radius: 25px;
  border: 2px solid #ffffff;
  background-image: linear-gradient(#ff0000, #0b0ebf);
  padding: 10px; 
  width: 200px;
  height: 75px;
  margin: auto;
}

.align1{
  text-align: left;
}

.align2{
  vertical-align: middle;
}

.secret-box img {
    width:50%;
    height: auto;
    visibility:hidden;
}

.secret-box:hover {
    background: none;
}

.secret-box:hover img {
    visibility:visible;
}

.secret-box {
    background: black;
    margin:20px;
}
.cap {
    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
}

.goat-text {
    text-align: center;
    font-family: Tahoma;
    font-size: 30px;
    color: green;
}


#loading-screen {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    width: 60%;
    height: 100vh;
    background: rgb(0,38,139);
    background: linear-gradient(180deg, rgba(0,38,139,1) 0%, rgba(0,14,41,1) 40%, rgba(0,0,0,1) 60%, rgba(0,38,139,1) 100%);
    animation: fade-out 1s both 4s;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;;
    }
}

#loading-header {
    animation: slide-through 5s both;
}
#loading-description {
    animation: slide-through 5s both 0s reverse;
}

@keyframes slide-through {
    0% {
        transform: translateY(-100vh);
    }
    25% {
        transform: translateY(0);
    }
    75% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vh);
    }
}

#loading-progress-bar-holder {
    width: 60%;
    height: 20px;
    border: 3px solid white;
}

#loading-progress-bar {
    background: rgb(0, 225, 255);
    width: 100%;
    height: 100%;
    animation: fill-progress-bar 5s ease-in-out;
}

@keyframes fill-progress-bar {
    0% { width: 0; }
    100% { width: 100%; }
  }