<html>
    <head>
        <title>NJIT CS490 Section 003</title>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
    </head>
    <body>
        <h1 class="shadow">I'm proud of what we've created together!</h1>
        <h2 class="shadow">Sresht is the coolest</h2>
        <img class="square" src="{{ url_for('static',filename='scratch/'+pictures_lst[random_index]) }}"/>
        <br>
        <div class="section">
            <h2>Section 003 is the best!</h2> 
            <img class="square" src="/static/oldgregg.jpg"> <!-- ??? -->
            <br>
            <p>We pushed {{ commits | length }} commits so far!!</p>
            <a class="text-blue"  href="https://www.youtube.com/watch?v=4duPBWzf46E" target="_blank" >TEAMWORK!!!!</a>
        </div>
       <div class="section">
            <h2>Go Highlanders!</h2> 
            <img src="/static/scratch/njitbanner.jpg">
         </div> 
         
         
         <div class="section">
             
             <h2> Why Do We Care?: </h2>
             <ul>
                 <li> $$$$$$ </li>
             </ul>
             
             <a href="/secret">Click me to go to a secret page!</a>
         </div>
         <br>
         <div id="box">
             Follow Us on Social Media:
             <p class="align1">
                 <img class="align2" src="/static/instagram.png"/> <a href="https://www.instagram.com/instanjit/?hl=en" target="_blank">Instagram</a>
                 <br>
                 <img class="align2" src="/static/twitter.png"/> <a href="https://twitter.com/NJIT" target="_blank">Twitter</a>                   
             </p>
             
         </div>
         
    </body>
</html>