<html>
    <head>
        <title>NJIT CS490 Section 003</title>
        <link rel="stylesheet" href={{ url_for('static', filename='style.css') }} />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    </head>
    <body>
        <div id="loading-screen">
            <h1 id="loading-header">Are you ready for greatness? :P</h1>
            <div id="loading-progress-bar-holder"> 
                <div id="loading-progress-bar"> </div>
            </div>
            <h2 id="loading-description">This is literally going to be the bestest website you've seen</h2>
        </div>

        <h1 class="shadow">{{today}}</h1>
        <h1 class="shadow">I'm proud of what we've created together!</h1>
        <h2 class="shadow">Sresht and Roxie are the coolest</h2>
        <img class="square" src="/static/roxie.jpg" height="200px" width="200px"> 
        <img class="square" src="{{ url_for('static',filename='scratch/'+pictures_lst[random_index]) }}"/>
        <br>
        <div class="section">
            <h2>Section 003 is the best!</h2> 
            <a class="goat-text" href="https://www.urbandictionary.com/define.php?term=goat" target="_blank" >Find the definition of section 003 here...(click)</a>
            <br>
            <img class="square" src="/static/oldgregg.jpg"> <!-- ??? -->
            <br>
            <p>We pushed {{ commits | length }} commits so far!!</p>
            <a class="text-blue"  href="https://www.youtube.com/watch?v=4duPBWzf46E" target="_blank" >TEAMWORK!!!!</a>
        </div>
       <div class="section">
            <h2>Go Highlanders!</h2> 
            <img src="/static/scratch/njitbanner.jpg">
         </div> 
         
         
         <div class="section">
             
             <h2> Why Do We Care?: </h2>
             <ul>
                 <li> $$$$$$ </li>
                  <li> <a href="/static/Syllabus.pdf" style="color:red">Syllabus</a> </li>
             </ul>
             
             <a href="/secret">Click me to go to a secret page!</a>
         </div>
         <br>
         <div id="box">
             Follow Us on Social Media:
            
                 <img class="align2" src="/static/instagram.png"/> <a href="https://www.instagram.com/instanjit/?hl=en" target="_blank" style="font-size:15px">Instagram</a>
                 <img class="align2" src="/static/twitter.png"/> <a href="https://twitter.com/NJIT" target="_blank" style="font-size:15px">Twitter</a>                   
             
             
         </div>
         
    </body>
</html>