<html>
    <head>
        <title>NJIT CS490 Section 003</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
    </head>
    <body>
        <h1>Congrats you did it!</h1>
        <div class="secret-content">
            Hover over the box to see the secret image!
            <div class="secret-box">
                <img class="secret-image" src="https://pbs.twimg.com/profile_images/1058201793753157633/SXcF2ilG.jpg">
            </div>
        </div>
    </body>
</html>
